<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout_common}">


<th:block layout:fragment="script">
  <script th:inline="javascript">

      function showDetail(obj, page) {
        let id = $(obj).children().first().text();
        let url = "/product/detail/" + id;
        location.replace(url);
      }

      function showPage(obj) {
        let num = $(obj).text() -1;
        let url = '/product/info/' + num;
        $.ajax({
          url: url,
          type: "GET",
          dataType: "html",
          cache: false,

          success: function(data) {
            let pageCard = $('#pageCard');
            pageCard.children().remove();
            pageCard.append(data);
            $('.active').removeClass('active');
            $(obj).parent().addClass('active');
          },
          error: function(){
            window.location.href = '/member/login'
          }
        })
      }
  </script>
</th:block>

<th:block layout:fragment="css">
  <style th:inline="css">
  </style>
</th:block>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>제품 조회</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">제품 조회</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">제품 목록</h4>
          <button class="btn btn-outline-secondary btn-sm float-right" id="writeBoard" onclick="location.href='/product/register'">제품등록</button>
        </div>

        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div th:each="product : ${productPage}" class="col-md-4" th:onclick="|location.href='@{/product/detail(page=${productPage.number},productNo=${product.productNo})}'|">
                <div class="card">
                  <h5 class="card-header" th:text="${product.productName}"></h5>
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <img th:src="@{'/images/' + ${product.productFat}}" class="card-img" alt="Product Image" onerror="this.onerror=null; this.src='/images/chickenBreast.png';">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <p class="card-text">No: <span th:text="${product.productNo}"></span></p>
                        <p class="card-text">Calories: <span th:text="${product.productCalories}"></span></p>
                        <p class="card-text">Date: <span th:text="${#strings.setSplit(product.regTime,'T')[0]}"></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pagination code omitted for brevity -->
          </div>
        </div>

      </div>
    </section>
  </div>
</th:block>
</html>
