<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout_common}">

<th:block layout:fragment="script">
    <script src="/js/product/product.js"></script>
</th:block>

<th:block layout:fragment="css">
    <style th:inline="css">

    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="content-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>상세보기</h1>
                    </div>
                    <div class="col-sm-6">
                        <!--            오른쪽 정렬-->
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/product/info">제품 목록</a> </li>
                            <li class="breadcrumb-item active">상세 보기</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">상세 내용</h4>
                    <div class="btn-group float-right" th:if="${#strings.equals(productDto.productWriter, memberId)}">
                        <button type="button" id="updateBtn" class="btn btn-primary btn-sm" onclick="updateProduct()">상품 수정</button>
                        <button type="button" id="saveBtn" th:data-id="${productDto.productNo}" class="btn btn-primary btn-sm" style="display: none;" onclick="saveProduct(this)">저장</button>
                        <button type="button" th:data-id="${productDto.productNo}" class="btn btn-primary btn-sm" onclick="deleteProduct(this)">삭제</button>
                    </div>
                    <a type="button" class="btn btn-primary btn-sm float-right mr-1" th:href="@{/product/info(page=${pageNum})}">목록</a>
                </div>

                <!-- start card-body --->
                <div class="card-body" id="boardCard">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- 이미지 부분 -->

                            <div class="col-md-6">
                                <img th:src="${productDto.productImageFile}" class="img-fluid rounded-circle" alt="Product picture">
                                <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data" class="mt-2">
                                    <button type="submit" class="btn btn-primary">Update Product Picture</button>
                                </form>

                                <div>
                                    <button type="button" class="breadcrumb float-sm-right" onclick="chickenCal()"> 계산 </button>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label>제품명</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                    <div class="form-group">
                                        <label>내용</label>
                                        <text class="form-control boardForm" id="content" th:text="${productDto.productName}" rows="2" disabled></text>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
                <!-- end card-body --->

            </div>

        </section>
    </div>



</th:block>
</html>