<div class="container-fluid">
  <div class="row">
    <!-- 이미지 부분 -->

    <div class="col-md-6">
      <img th:src="${updateProductDto.productImageFile}" class="img-fluid rounded-circle" alt="Product picture">
      <div class="row mb-3">
        <div class="col-6">
          <button type="button" id="setMulti1" class="btn btn-primary" data-toggle="modal" data-target="#proteinModal" onclick="setMultiplier(1)" th:data-protein="${updateProductDto.productProtein}">필요한 단백질 x 1</button>
        </div>
        <div class="col-6">
          <button type="button" id="setMulti1_2" class="btn btn-primary" data-toggle="modal" data-target="#proteinModal" onclick="setMultiplier(1.2)" th:data-protein="${updateProductDto.productProtein}">필요한 단백질 x 1.2</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="button" id="setMulti1_5" class="btn btn-primary" data-toggle="modal" data-target="#proteinModal" onclick="setMultiplier(1.5)" th:data-protein="${updateProductDto.productProtein}">필요한 단백질 x 1.5</button>
        </div>
        <div class="col-6">
          <button type="button" id="setMulti2" class="btn btn-primary" data-toggle="modal" data-target="#proteinModal" onclick="setMultiplier(2)" th:data-protein="${updateProductDto.productProtein}">필요한 단백질 x 2</button>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="container-fluid">


        <div class="form-group row">
          <label class="col-sm-3 col-form-label">제품명</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productName" th:value="${updateProductDto.productName}" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">칼로리</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productCalories" th:value="${updateProductDto.productCalories}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">kcal</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">나트륨</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productSodium" th:value="${updateProductDto.productSodium == null ? '': updateProductDto.productSodium}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">mg</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">탄수화물</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productCarbohydrate" th:value="${updateProductDto.productCarbohydrate == null ? '': updateProductDto.productCarbohydrate}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">g</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">당</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productSugar" th:value="${updateProductDto.productSugar == null ? '':updateProductDto.productSugar}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">g</p>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label">콜레스테롤</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productCholesterol" th:value="${updateProductDto.productCholesterol == null ? '' : updateProductDto.productCholesterol}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">mg</p>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label">지방</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productFat" th:value="${updateProductDto.productFat == null ? '':updateProductDto.productFat}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">g</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">단백질</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="productProtein" th:value="${updateProductDto.productProtein}" disabled>
          </div>
          <div class="col-sm-2">
            <p class="form-control-static">g</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> <!-- end container -->