<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout_common}">

<th:block layout:fragment="script">
</th:block>

<script th:inline="javascript">
  function deleteBoard(){

  }
</script>

<th:block layout:fragment="css">
  <style th:inline="css">
    .fieldError{
      color : #fc00ff;
    }
  </style>
</th:block>

<style th:inline="css">

</style>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">글내용</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">글내용</h4>
          <button type="button" class="btn btn-primary btn-sm float-right">수정</button>
          <button type="button" class="btn btn-primary btn-sm float-right" onclick = "deleteBoard()">삭제</button>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <form id="boardForm" method="post" action="/board/form" th:object="${boardDetail}">
              <div class="form-group">
                <label>제목</label>
                <input type="text" th:value="*{title}" class="form-control" disabled >
              </div>

              <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" th:text="*{content}" rows="10" disabled></textarea>
              </div>
              <strong class="mr-2" style="display:inline">최근 수정일 </strong>
              <p style="display: inline; color:gray;" th:text="${boardDetail.updateTime}"></p>
            </form>
          </div>
        </div>
      </div>
    </section>

<!--    23-8-9-->
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">댓글</h4>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <form action="/reply/new" method="post">
              <div class="form-group">
                <div class="input-group">
                  <input type="hidden" th:value="${boardDetail.id}" name="boardId">
                  <textarea class="form-control" name="reply" rows="2"></textarea>
                  <button class="btn btn-primary btn-lg" type="submit">작성</button>
                </div>

              </div>

            </form>

              </div>





          </div>
        </div>

    </section>
  </div>
</th:block>

<script>
  let boardId = document.getElementById("boardId").value;
  console.log(boardId);
</script>
</html>