<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout_common}">

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*  function writeBoard() {
        location.replace('board/form');
      }*/
    // 23-8-3 상세 보기 위해 수정
    function showDetail(obj){
      let id = $(obj).children().first().text();   // obj의 첫번째 자식의 텍스트를 가져온다.
      console.log(id);
      let url= "/board/boardDetail/" + id;
      location.replace(url);   // 추출한 아이디를 url에 붙인 후 이동

    }

    // 23 - 8 - 16 페이지네이션
    function showPage(obj){
        console.log(obj)
      let num = $(obj).text() -1;  //  0 번 인덱스 부터 시작하니 -1
      let url = '/board/info/' + num;

      console.log(url)

      $.ajax({
        url : url,
        type : 'POST',
        dataType : 'html',
        cache : false,
        success : function (data){
          let pageCard = $('#pageCard');
          pageCard.children().remove();  // 자식을 지우고
          pageCard.append(data);  // 새로 들고 온 자식을 채운다
          $('.active').removeClass('active');   // 기존 액티브인 애들 액티브 아니게 바꾸기
          $(obj).parent().addClass('active'); // 지금 내가 누른 애들이 액티브로 변하게
        }
      })

    }

  </script>

</th:block>


<th:block layout:fragment="css">
</th:block>

<style th:inline="css">
</style>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>게시판 조회</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">게시판 조회</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">게시판 목록</h4>
          <button class="btn btn-outline-secondary btn-sm float-right" id="writeBoard" onclick="location.href='/board/form'">글쓰기</button>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">no</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">게시글 작성시</th>
              </tr>
              </thead>
              <tbody id="pageCard">
              <tr th:each="board : ${boardPage.content}" onclick="showDetail(this)">
                <th scope="row" th:text="${board.id}"></th>
                <td th:text="${board.title}"></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.regTime}"></td>
              </tr>
              </tbody>
            </table>
            <div class="float-right">
              <nav aria-label="Page navigation">
                <ul class="pagination" th:with="start=${boardPage.number+1}, end=(${(start+4 >= boardPage.totalPages) ? ((start > boardPage.totalPages) ? start : boardPage.totalPages) : start+4})">
                  <li class="page-item" th:classappend="${boardPage.first} ? 'disabled'" th:with="prePage=(${(boardPage.number -5 < 0 ) ? 0 : boardPage.number -5})">
<!--                    타임 리프 사이에 낑겨서 링크를 걸고 싶을 땐 th문법 쓴다.-->
                    <a class="page-link" th:href="@{/board/info(boardPage=${prePage})}">Previous</a>

                  </li>

                  <li class="page-item" th:each="num : ${#numbers.sequence(start, end)}" th:classappend="${boardPage.number+1 eq num}? 'active'">
                    <a class="page-link" th:text="${num}" onclick="showPage(this)"></a>

                  </li>

                  <li class="page-item" th:classappend="${boardPage.number+5 >= boardPage.totalPages} ? 'disabled'" th:with="nextPage=(${(boardPage.number+5 > boardPage.totalPages) ? boardPage.totalPages : boardPage.number+5})">


                    <a class="page-link" th:href="@{/board/info(boardPage=${nextPage})}">Next</a>
                  </li>


                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</th:block>
</html>
