<div class="list-group" th:each="reply : ${replies}">
  <div>         <!--컨텐츠가 들어가는 부분 두줄로 구분을 하려고 그래요 대댓글 구분 -->
    <div class="row border-bottom mb-2">       <!-- 로우 생성 -->
      <div class="col">
        <div class="comment">
          <div class="d-flex flex-low align-items-center">
            <strong th:text="${reply.writer}"> </strong>
            <p class="small" style="color: gray"></p>  <!-- 회색으로 조그맣게 뜨는 부분 ?-->
            <div th:if="${#strings.equals(userEmail, reply.memberEmail)}">
              <a class="ml-1" th:data-id="${reply.id}" onclick="deleteReply(this)">삭제</a>
              <a class="ml-0" th:data-id="${reply.id}" onclick="updateReply(this)">수정</a>
            </div>
            <a class="ml-1" th:data-id="${reply.id}" onclick="showDupForm(this)">답글</a>
          </div>
          <p th:text="${reply.content}"></p>
        </div>
      </div>
    </div>
  </div>
</div>