<!--메인 페이지(첫 화면)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Something</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    session 값 확인 : <p th:text="${session.userId}"></p>
    <a href="/auth/list">유저 목록</a>


<!--로고, 로그인, 회원가입 링크-->
<div class="header">
    <div class="rightBox">
        <div id="signBox">
            <a th:href="@{/auth/signin}">로그인</a>
            <a th:href="@{/auth}">회원가입</a>
        </div>
    </div>
    <div>
        <p id="logoTitle">SAY SOMETHINGS</p>
    </div>
</div>

<!--boards 목록 출력-->
<div class="container" style="margin:0px auto 100px auto">
    <!-- 검색창, 글쓰기 버튼-->

    <div class="searchBox betweenBox">
        <form action="#">
            <select name="category" id="">
                <option value="title">제목</option>
                <option value="title">내용</option>
                <option value="title">제목+내용</option>
            </select>
            <input type="search" placeholder="검색어를 입력하세요" />
        </form>

        <button class="btn-navy">글 작성하기</button>
    </div>

<!--    게시글 목록 (표로 출력)-->
    <div class="tableBox">
        <table class="table-style">
            <tr class="table-header">
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
            <tr th:each="boardsDTO, status: ${boardsDTOList}">
                <td th:text="${status.index+1}"></td>
                <td><a href="#" th:text="${boardsDTO.boardTitle}"></a></td>
                <td th:text="${#temporals.format(boardsDTO.boardDate, 'yyyy-MM-dd')}"></td>
            </tr>

        </table>
    </div>

<!--    페이지 네이션-->
    <div class="page centerContent" style="margin-top:20px">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

<!--푸터-->
<div class="footer centerContent">
    <p>@ create by MOBUL</p>
</div>
</body>
</html>
